@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;800&display=swap');
:root {
  color-scheme: light;
}

body {
  background-color: #ffffff !important;
  color: #333333 !important;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* This prevents the whole page from scrolling so only the containers do */
}